
.boardContainer {
    width: 80%;
    display: flex;
    justify-content: center;
}

.board {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 1px 1px 0 0;
    height: fit-content; 
    max-width: 100%;
}
.row {
    display: flex;
    width: 100%;
}

.square {
    background-color: black;
    margin: -1px -1px 0 0;
    box-sizing: content-box;
    aspect-ratio: 1;
    width: 1.5rem;
}

.square:hover {
    border: 1px solid white;
    z-index: 2;
    box-sizing: border-box;
}

.alive {
    background-color: white;
}
