.boardrow {
  display: flex;

}
.board {
  display:flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

@font-face {
  font-family: 'pixel_emulatorregular';
  src: url('font/webfontkit-20220614-091846/pixelemulator-xq08-webfont.woff2') format('woff2'),
       url('font/webfontkit-20220614-091846/pixelemulator-xq08-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title-game {
  display:flex;
  flex-direction: column;
  font-family: 'pixel_emulatorregular';
  font-size: xx-large;
  color:#36395A;
  margin:10px;
}

.title-game::after {
  content:"life";
  color:rgb(251, 255, 29);
}

.title-game.life {

  color:rgb(251, 255, 29);
}
.title {
  display:flex;
  width: 100vw;
  background-color: #2425;
  justify-content: center;
}

.square {
  background-color: darkslategray;
  width: max(2%,20px);
  aspect-ratio: 1/1;
  border: 1px solid rgb(158, 163, 172);
  color:white;
}
.square.alive {
  background-color: rgb(251, 255, 29);
}

.button {
  width: 80px;
  height: 50px;
  border: 1px solid white;
  box-shadow: outset 1px black;
}


.container {
  display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.button-30.begin {
  position: absolute;
  bottom:50px;


}
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}